body{
    color: white;
    background-color: #1B1F24;
    margin: 0;
    padding: 0;
    
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px;

}
nav h1{
    font-family: poppins;
    font-size: larger;
    text-transform: uppercase;
    color: aqua;
    letter-spacing: 2px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

li{
   list-style: none;
   display: inline;
   margin-left: 10px;
   font-weight: bold;
   transition: 0.3s ease;
}
li a{
    color: white;
    text-decoration: none;
    font-family: poppins;
    transition: 0.3s ease;
    display: inline-block;
}
li a:hover{
    transform: scale(1.2);
}
@media (max-width:1050px){
    
    nav h1{
        font-size: 15px;
        margin-top: 20px;
        margin-left: 15px;
        
    }
    nav{
        margin: 0%;
        display: block;
        font-size: medium;
        font-weight: bold;
        margin-bottom: 50px;
    }
    ul{
        display: flex;
        justify-content: center;
        padding: 0;
        text-align: center;
    }
    li a{  
        display: inline-block;
        transition: none;
    }
    li a:hover{
        transform: none;
    }
}
.conteudo{
    font-family: poppins;
    display: flex;
    align-items: center;
}
.p_descricao{
    color: rgb(165, 165, 165);
    padding-right: 40px;
}
.p_amigo{
    margin: 0;
    font-weight: bold;
}
.palavra_colorida{
    color: aqua;
}
.conteudo h1{
    font-size: 50px;
    margin: 0;
}
.img_principal img{
    border-radius: 10px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-bottom: 20px;
}
.button_contato button{
    background-color: aqua;
    border: 0;
    border-radius: 25px;
    color: rgb(32, 32, 32);
    font-family: poppins;
    font-weight: 500;
    transition: 0.5s ease;
    padding: 0px 10px;
    margin-bottom: 40px;
}
.button_contato button:hover{
    transform: scale(1.08);
}


@media (max-width:1050px){
    
    .img_principal img{
        display: none;
    }
    .button_contato button{
        transition: none;
    }
    .button_contato button:hover{
        transform: none;
    }
}
.div-flex{
    font-family: poppins;
    display: flex;
    align-items: center;
    gap: 40px;
}
.main_2{
    background-color: #22282F;
    width: 100%;
    
}
.img_conteudo2{
    text-align: center;
}
.img_conteudo2 img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 40px;
    border: 1.5px solid rgb(88, 88, 88);
    box-shadow: 0px 0px 30px 3px aqua;
    margin-bottom: 40px;
}
.p-2{
    font-weight: bold;
}
.span-web{
    color: aqua;
}
.p-descricao2{
    padding-bottom: 20px;
}
    
@media (max-width:1050px){
    
    .img_conteudo2 img{
        margin-top: 40px;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    .div-flex{
        display: block;
    }
}
.titulo-projetos{
    font-family: poppins;
    text-align: center;
    text-transform: uppercase;
}
.titulo-projetos span{
    color: aqua;
}
.projetos{
    background-color: #22282F;
    flex: 1 1 300px;
    color: aliceblue;
    padding:20px;
    font-family: poppins;
    border-radius: 10px;
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.5s ease;
    margin-bottom: 15px;
}
.conteudo3{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.projetos button{
    background-color: transparent;
    color: aliceblue;
    border: 1px solid aqua;
    border-radius: 5px;
    font-family: poppins;
}
.projetos button:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.3s ease;
    background-color: aqua;
    color: #1B1F24;
}
.projetos:hover{
    transform: scale(1.04);
    box-shadow: 0px 1px 25px 1px aqua;
}
@media (max-width:1050px){
    .projetos button:hover{
        transition: none;
    }
    .projetos:hover{
        transition: none;
    }
    .projetos{
        transition: none;
    }
}
.projetos p a{
    text-decoration: none;
    color: aliceblue;
}
.conteudo-certificado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.certificado-text h1, p{
    font-family: poppins;
}
.certificado-text h1 span{
    color: aqua;
}
.certificado-text{
    text-align: center;
    width: 800px;
}
.certificado-img img {
    width: 800px;
    border-radius: 20px;
}
.certificado-button{
    display: flex;
    justify-content: center;
    height: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
}
.certificado-button a{
    text-decoration: none;
}
.certificado-button button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid aqua;
    width: 300px;
    height: 50px;
    font-size: 20px;
    text-wrap-mode: nowrap;
    font-family: poppins;
    color: aliceblue;
    border-radius: 20px;
    transition:all 0.3s ease;
}
.certificado-button button:hover{
    cursor: pointer;
    transform: scale(1.05);
    color: aqua;

}
@media (max-width:1050px){

    .certificado-img img {
    width: 600px;
    border-radius: 20px;}

    .certificado-text{
    text-align: center;
    width: 600px;
}
}
@media (max-width:600px){

    .certificado-img img {
    width: 500px;
    border-radius: 20px;}

    .certificado-text{
    text-align: center;
    width: 500px; }

    .certificado-text p{
        text-align: center;
        width: 500px;
    }

    .certificado-button button{
        width: 225px;
        height: 50px;
        font-size: 15px;
        transition: none;
    }

    .certificado-button:hover{
        transform: none;
    }
}
.main-contato{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: poppins;
    background-color: #22282F;
    flex-wrap: nowrap;
    padding: 30px 15%;
}
.main-contato span{
    color: aqua;
}
.titulo-contato{
    line-height: 0.1px,;
    margin: 0;
}
.main-contato button{
    border-radius: 25px;
    width: 200px;
    background-color: aqua;
    border: 0px solid black;
    transition: 0.3s ease;
    font-family: poppins;
    font-weight: bold;
    color: rgb(32, 32, 32);
}
.main-contato button:hover{
    transform: scale(1.06);
    box-shadow: 0px 0px 25px 0.5px aqua;
}

@media (max-width:1050px){
    .main-contato{
        padding: 30px 5%;
        display: flex;
        flex-direction: column;
    }
    .titulo-contato{
        margin-bottom: 30px;
    }
    .titulo-contato h1{
        line-height: 1.2;
    }
    .main-contato button:hover{
        transform: none;
    }
    .main-contato button{
        transition: none;
    }
}
footer p{
    text-align: center;
}
